@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Bonjour,</p>
<p>Nous avons réalisé ce site web lors de notre semaine .net à la CodingFactory,</p>
<p>Nous avons géré le projet de façon agile avec la méthode Scrum !</p>
<p>Ce projet nous permet d'apprendreà utiliser le C#, dotnet, VisualStudioCode</p>
<p>Notre Product Owner était sur ce projet Julien Pavon !</p>
<p>Ce projet à été réalisé par l'équipe des 7 mains:</p>
<p>-Thomas Guillouet</p>
<p>-Kilian Lempereur</p>
<p>-Adrien Grandpierre</p>
<p>-Alexis Aubert</p>
<div class="col-md-6 copy">
    <p>
        ©Copyright 2017 Les 7 mains - Tous droits réservés CGV.
    </p>
</div>
