@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    CodingFactory By ITESCIA<br />
    35 Boulevard du Port<br />
    Cergy Préfecture, cd 95000<br />
    <abbr title="Phone">P:</abbr>
    01.30.75.35.51
</address>

<address>
    <strong>Site web:</strong> <a href="https://codingfactory.fr"> CodingFactory</a><br />
    <strong>Reportage:</strong> <a href="http://95.telif.tv/2017/10/10/la-coding-factory-forme-les-developpeurs-de-demain/">reportageCodingFactory</a>
</address>
<div class="col-md-6 copy">
    <p>
        ©Copyright 2017 Les 7 mains - Tous droits réservés CGV.
    </p>
</div>
